
body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    line-height:160%;
    color: #000000;
    margin: 5%;
    padding: 5%;
}
/* .skip {
    position: absolute;
    top: -40px;
    left: 0;
    border: 0;
    overflow:hidden;
  } */

.skip-link {
    position: absolute;
    left: -999px;
    top: -999px;
    overflow:hidden;
}
    
.skip-link:focus {
    left: 0;
    top: 10px;
    overflow:visible;
}


nav ul {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* justify-content: center; */
    background: #89c66d;
    padding:10px;
    /* margin:20px;
    height: 50px; */
}

nav ul li {
    display: inline;
    margin: 10px 8px;
    font-weight: bold;
}

nav a:hover,nav a:focus {
    text-decoration: underline;
  }

h1{
    font-size: 25px;
    /* line-height: 2; */
    padding: 20px 0;
    text-align: center;
  }

h2{
    color:#000000;
    padding: 10px 25px;
    background:transparent;
    border: 5px solid #89c66d;
    text-align: center;
    outline:none;
    cursor: auto;
}

.home-grid-container {
    display: grid;
    justify-content: center; 
    /* aligns the grid along the horizontal axis */
    align-items:center;
    /* aligns the vertical */
}

@media screen and (min-width:600px) {
   
    h1{
        font-size: 50px;
      }

    p{
        font-size: 30px;
        padding:5%;
      }

    nav ul{
        display: flex;
        justify-content: space-between;
        margin:0;
    }
    nav ul li {
        font-size:30px;
    }

    }